<ion-view title=" " id="aula-05" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="aula5-heading14" style="color:#000000;font-weight:lighter;text-align:center;" class=" ">5. Livre-arbítrio em sociedades de dados</h2>
        <div>
            <hr>
            <br>
        </div>
        <p id="aula5-markdown33" style="color:#000000;" class=" ">Texto de
            <em>introdução</em>da aula</p>
        <div>
            <br>
            <hr>
            <br>
        </div>
        <div>
            <iframe src="//www.slideshare.net/slideshow/embed_code/key/fyyMYcH67L58SC" width="340" height="290" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"
            allowfullscreen=""></iframe>
        </div>
        <div>
            <br>
            <hr>
            <br>
        </div>
        <div id="aula5-button-bar19" class=" button-bar ">
            <button id="aula5-button58" class=" button button-dark  button-block ">REFS</button>
            <button id="aula5-button59" style="font-weight:600;" class=" button button-assertive  button-block ">TAREFA</button>
            <button id="aula5-button60" class=" button button-positive  button-block ">EXTRAS</button>
        </div>
    </ion-content>
</ion-view>