<ion-view title=" " id="cadastro" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="cadastro-form2" class="list ">
            <ion-list id="cadastro-list3" class=" ">
                <label class="item item-input " id="cadastro-input3">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="cadastro-input6">
                    <span class="input-label">Número USP</span>
                    <input type="number" placeholder="">
                </label>
                <label class="item item-input " id="cadastro-input4">
                    <span class="input-label">e-mail</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input " id="cadastro-input5">
                    <span class="input-label">Senha</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button id="cadastro-button3" class=" button button-stable  button-block ">Cadastre-se</button>
        </form>
    </ion-content>
</ion-view>