<ion-view title=" " id="cadastro" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="cadastro-form" class="list ">
                <label class="item item-input " id="cadastro-nome">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="Nome ou apelido" required="">
                </label>
                <label class="item item-input " id="cadastro-nusp">
                    <span class="input-label">Número USP</span>
                    <input type="number" placeholder="Sua matrícula ou CPF" required="">
                </label>
                <label class="item item-input " id="cadastro-email">
                    <span class="input-label">e-mail</span>
                    <input type="email" placeholder="" required="">
                </label>
                <label class="item item-input " id="cadastro-psw">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="" required="">
                </label>
            <button id="cadastro-button" class=" button button-stable  button-block ">Cadastre-se</button>
        </form>
    </ion-content>
</ion-view>