<ion-view title=" " id="contato" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="contato-card23">
            <ion-item class="item-avatar item-icon-right balanced  " id="contato-list-item87" href="mailto:radfahrer@gmail.com">
                <img src="img/OKPfT3NTKyJTls69P0Vm_luli.svg">
                <h2balanced>Luli Radfahrer
                    <p>Professor da disciplina</p>
                    <i class="icon ion-android-star"></i>
                </h2balanced>
            </ion-item>
            <div class=" item item-image">
                <img src="img/x0sUM1x7QRaMwYlBYQTe_luli.jpg" width="100%" height="" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
    </ion-content>
</ion-view>