<ion-view title=" " id="home" style="background-color:#2a363b;" class=" "> 
    <ion-content padding="true" class="has-header">
        <section class="header">
        	<h2 id="home-heading4" style="color:#fecea8;font-weight:lighter;text-align:center;" class=" ">Comunicação Digital</h2>
            <h4 style="color:#dddddd;font-weight:lighter; text-align: center;">CRP-0520 - prof.<b>Luli Radfahrer<br>
                Sala 5 CRP</b>- quintas às 19:30</h4>
        </section>
        
        <section class="busca"></section>
        
        <section class="main"></section> 
        
        
        
        
        
        
        
        
        <p id="home-markdown4" style="text-align:center;" class=" "></p>
        <div class="item item-body " id="home-list-item-container2">
            <form id="home-form4" class="list ">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="busca...">
                </label>
            </form>
            <p id="home-markdown6" style="margin-top:0px;color:#000000;text-align:center;" class=" ">Neste aplicativo você vai encontrar:</p>
        </div>
        <ion-list id="home-list6" class=" " >
            <ion-item id="home-list-item56" ui-sref="menu.preReqs" class="  ">Pré-requisitos essenciais</ion-item>
            <ion-item id="home-list-item69" ui-sref="menu.local" class="  ">Local e horário da aula</ion-item>
            <ion-item id="home-list-item57" ui-sref="menu.programa" class="  ">Programa do curso</ion-item>
            <ion-item id="home-list-item61" ui-sref="menu.links" class="  ">Referências adicionais e links</ion-item>
            <ion-item id="home-list-item60" class="  ">Conteúdo social</ion-item>
            <ion-item id="home-list-item64" ui-sref="menu.tarefas" class="  ">Tarefas por aula</ion-item>
            <ion-item id="home-list-item65" ui-sref="menu.final" class="  ">Trabalho final e pecha-kucha</ion-item>
            <ion-item class="item-avatar item-icon-right positive  " id="home-list-item66" href="mailto:radfahrer@gmail.com">
                <img src="img/J20cEpQASJyYZ4rZmVwb_luli.svg">
                <h2positive>Luli Radfahrer
                    <p>mate as dúvidas por aqui.</p>
                    <i class="icon ion-android-textsms"></i>
                </h2positive>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>