<ion-view id="Tarefas" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="tarefas-heading27" style="color:#000000;font-weight:lighter;text-align:center;" class=" ">Tarefas</h2>
        <h3 id="tarefas-heading2" style="color:#000000;font-weight:300;" class=" ">1. O universo digital</h3>
        <form id="tarefas-form5" class="list ">
            <label class="item item-input item-stacked-label " id="tarefas-input7" name="resp-01">
                <span class="input-label">Contexto:</span>
                <input type="text" placeholder="Como você imagina que estará o contexto digital em 10 anos. E em 50 anos? Justifique a sua resposta.">
            </label>
        </form>

<h3 id="tarefas-heading2" style="color:#000000;font-weight:300;" class=" ">2. Redes e emergência</h3>
        <form id="tarefas-form5" class="list ">
            <label class="item item-input item-stacked-label " id="tarefas-input7" name="resp-01">
                <span class="input-label">Contexto:</span>
                <input type="text" placeholder="Como você imagina que estará o contexto digital em 10 anos. E em 50 anos? Justifique a sua resposta.">
            </label>
        </form>


<h3 id="tarefas-heading2" style="color:#000000;font-weight:300;" class=" ">3. Pós-modernismo e digitalização da identidade</h3>
        <form id="tarefas-form5" class="list ">
            <label class="item item-input item-stacked-label " id="tarefas-input7" name="resp-01">
                <span class="input-label">Contexto:</span>
                <input type="text" placeholder="Como você imagina que estará o contexto digital em 10 anos. E em 50 anos? Justifique a sua resposta.">
            </label>
        </form>


<h3 id="tarefas-heading2" style="color:#000000;font-weight:300;" class=" ">4. <i>Big Data</i>e mensuração</h3>
        <form id="tarefas-form5" class="list ">
            <label class="item item-input item-stacked-label " id="tarefas-input7" name="resp-01">
                <span class="input-label">Contexto:</span>
                <input type="text" placeholder="Como você imagina que estará o contexto digital em 10 anos. E em 50 anos? Justifique a sua resposta.">
            </label>
        </form>


<h3 id="tarefas-heading2" style="color:#000000;font-weight:300;" class=" ">5. Livre-arbítrio em sociedades de dados</h3>
        <form id="tarefas-form5" class="list ">
            <label class="item item-input item-stacked-label " id="tarefas-input7" name="resp-01">
                <span class="input-label">Contexto:</span>
                <input type="text" placeholder="Como você imagina que estará o contexto digital em 10 anos. E em 50 anos? Justifique a sua resposta.">
            </label>
        </form>


<h3 id="tarefas-heading2" style="color:#000000;font-weight:300;" class=" ">6. Educação e inclusão digital</h3>
        <form id="tarefas-form5" class="list ">
            <label class="item item-input item-stacked-label " id="tarefas-input7" name="resp-01">
                <span class="input-label">Contexto:</span>
                <input type="text" placeholder="Como você imagina que estará o contexto digital em 10 anos. E em 50 anos? Justifique a sua resposta.">
            </label>
        </form>


<h3 id="tarefas-heading2" style="color:#000000;font-weight:300;" class=" ">7. Interfaces</h3>
        <form id="tarefas-form5" class="list ">
            <label class="item item-input item-stacked-label " id="tarefas-input7" name="resp-01">
                <span class="input-label">Contexto:</span>
                <input type="text" placeholder="Como você imagina que estará o contexto digital em 10 anos. E em 50 anos? Justifique a sua resposta.">
            </label>
        </form>


<h3 id="tarefas-heading2" style="color:#000000;font-weight:300;" class=" ">8. Experiência do Usuário</h3>
        <form id="tarefas-form5" class="list ">
            <label class="item item-input item-stacked-label " id="tarefas-input7" name="resp-01">
                <span class="input-label">Contexto:</span>
                <input type="text" placeholder="Como você imagina que estará o contexto digital em 10 anos. E em 50 anos? Justifique a sua resposta.">
            </label>
        </form>


<h3 id="tarefas-heading2" style="color:#000000;font-weight:300;" class=" ">9. Ciberativismo</h3>
        <form id="tarefas-form5" class="list ">
            <label class="item item-input item-stacked-label " id="tarefas-input7" name="resp-01">
                <span class="input-label">Contexto:</span>
                <input type="text" placeholder="Como você imagina que estará o contexto digital em 10 anos. E em 50 anos? Justifique a sua resposta.">
            </label>
        </form>


<h3 id="tarefas-heading2" style="color:#000000;font-weight:300;" class=" ">10. Inteligência Artificial</h3>
        <form id="tarefas-form5" class="list ">
            <label class="item item-input item-stacked-label " id="tarefas-input7" name="resp-01">
                <span class="input-label">Contexto:</span>
                <input type="text" placeholder="Como você imagina que estará o contexto digital em 10 anos. E em 50 anos? Justifique a sua resposta.">
            </label>
        </form>


<h3 id="tarefas-heading2" style="color:#000000;font-weight:300;" class=" ">11. Realidade Virtual e Aumentada</h3>
        <form id="tarefas-form5" class="list ">
            <label class="item item-input item-stacked-label " id="tarefas-input7" name="resp-01">
                <span class="input-label">Contexto:</span>
                <input type="text" placeholder="Como você imagina que estará o contexto digital em 10 anos. E em 50 anos? Justifique a sua resposta.">
            </label>
        </form>


<h3 id="tarefas-heading2" style="color:#000000;font-weight:300;" class=" ">12. Tendências e Prototipação</h3>
        <form id="tarefas-form5" class="list ">
            <label class="item item-input item-stacked-label " id="tarefas-input7" name="resp-01">
                <span class="input-label">Contexto:</span>
                <input type="text" placeholder="Como você imagina que estará o contexto digital em 10 anos. E em 50 anos? Justifique a sua resposta.">
            </label>
        </form>


<h3 id="tarefas-heading2" style="color:#000000;font-weight:300;" class=" ">13. Hacking, Código e Fabricação Digital</h3>
        <form id="tarefas-form5" class="list ">
            <label class="item item-input item-stacked-label " id="tarefas-input7" name="resp-01">
                <span class="input-label">Contexto:</span>
                <input type="text" placeholder="Como você imagina que estará o contexto digital em 10 anos. E em 50 anos? Justifique a sua resposta.">
            </label>
        </form>


<h3 id="tarefas-heading2" style="color:#000000;font-weight:300;" class=" ">14. Internet das Coisas e Cidades Inteligentes</h3>
        <form id="tarefas-form5" class="list ">
            <label class="item item-input item-stacked-label " id="tarefas-input7" name="resp-01">
                <span class="input-label">Contexto:</span>
                <input type="text" placeholder="Como você imagina que estará o contexto digital em 10 anos. E em 50 anos? Justifique a sua resposta.">
            </label>
        </form>


<h3 id="tarefas-heading2" style="color:#000000;font-weight:300;" class=" ">15. Datasfera e Datacracia</h3>
        <form id="tarefas-form5" class="list ">
            <label class="item item-input item-stacked-label " id="tarefas-input7" name="resp-01">
                <span class="input-label">Contexto:</span>
                <input type="text" placeholder="Como você imagina que estará o contexto digital em 10 anos. E em 50 anos? Justifique a sua resposta.">
            </label>
        </form>


<h3 id="tarefas-heading2" style="color:#000000;font-weight:300;" class=" ">16. Pecha Kucha</h3>
        <form id="tarefas-form5" class="list ">
            <label class="item item-input item-stacked-label " id="tarefas-input7" name="resp-01">
                <span class="input-label">Sua apresentação:</span>
                <input type="text" placeholder="Como">
            </label>
        </form>
      <br /> <br />
    </ion-content>
</ion-view>