<ion-view title=" " id="aula-01" class=" ">
    <ion-content padding="true" style="background-color:#99b898;" class="has-header" background="99b898" >
        <h2 id="aula1-heading10" style="color:#000000;font-weight:normal;text-align:center;" class=" ">1. O universo digital</h2>
            <hr>
            <br>
        <p id="aula1-markdown7" style="color:#000000;" class=" ">Texto de
            <em>introdução</em> da aula</p>
            <br>
            <hr>
            <br>
        <section class="slideshare">
	       <p align="center">
	       <iframe src="//www.slideshare.net/slideshow/embed_code/key/fyyMYcH67L58SC" width="340" height="290" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"
            allowfullscreen=""></iframe></p>
        </section>
            <br>
            <hr>
            <br>
            
        <section class="botoes-aula">
        <div id="bot-bar" class=" button-bar ">
            <button id="aula1-refs" class=" button button-dark  button-block ">REFS</button>
            <button id="aula1-tarefa" style="font-weight:600;" class=" button button-assertive  button-block ">TAREFA</button>
            <button id="aula1-extras" class=" button button-positive  button-block ">EXTRAS</button>
        </div>
        </section> 

    </ion-content>
</ion-view>




            
