<ion-view title=" " id="aula-07" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="aula7-heading16" style="color:#000000;font-weight:lighter;text-align:center;" class=" ">7. Interfaces</h2>
        <div>
            <hr>
            <br>
        </div>
        <p id="aula7-markdown35" style="color:#000000;" class=" ">Texto de
            <em>introdução</em>da aula</p>
        <div>
            <br>
            <hr>
            <br>
        </div>
        <div>
            <iframe src="//www.slideshare.net/slideshow/embed_code/key/fyyMYcH67L58SC" width="340" height="290" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"
            allowfullscreen=""></iframe>
        </div>
        <div>
            <br>
            <hr>
            <br>
        </div>
        <div id="aula7-button-bar21" class=" button-bar ">
            <button id="aula7-button64" class=" button button-dark  button-block ">REFS</button>
            <button id="aula7-button65" style="font-weight:600;" class=" button button-assertive  button-block ">TAREFA</button>
            <button id="aula7-button66" class=" button button-positive  button-block ">EXTRAS</button>
        </div>
    </ion-content>
</ion-view>