<ion-view title=" " style="background-color:#feceab;"id="links" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="links-list-item-container5">
            <div>1. O universo digital
                <br>
                <br>
            </div>
            <ion-list id="links-list8" class=" ">
                <ion-item class="item-thumbnail-left item-icon-right  " id="links-list-item90" href="#" onclick="window.open('http://www.ted.com/talks', '_system', 'location=yes'); return false;">
                    <h2>Item</h2>
                    <i class="icon ion-android-open"></i>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>