<ion-view title=" " style="background-color:#feceab;"id="local" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="local-heading25" style="color:#000000;font-weight:lighter;text-align:center;" class=" ">Local das aulas</h2>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14629.179670395168!2d-46.7346954776391!3d-23.557849204951967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce563ef9ad5301%3A0x0!2zMjPCsDMzJzI4LjMiUyA0NsKwNDMnMzMuNCJX!5e0!3m2!1sen!2sbr!4v1467056110853"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
    </ion-content>
</ion-view>