<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21" style="background-color:#AF3163;">
        <ion-header-bar class="bar-stable">
        
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <h2 id="menu-heading7" style="color:#FFFFFF;font-weight:lighter;text-align:center;" class=" ">Opcões</h2>
            <ion-list id="menu-list1" class=" ">
                <ion-item class="item-icon-right assertive  " id="menu-list-item2" ui-sref="menu.login" menu-close="">Cadastro / Log in
                    <i class="icon ion-log-in icon-accessory"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="menu-list-item1" ui-sref="menu.home" menu-close="">CRP-0420
                    <i class="icon ion-android-star icon-accessory"></i>
                </ion-item>
                <ion-item class="item-divider " id="menu-list-item-divider1">Aulas</ion-item>
                <ion-item class="item-icon-right  " id="menu-list-item3" ui-sref="menu.preReqs" menu-close="">Pré-requisitos
                    <i class="icon ion-android-bookmark icon-accessory"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="menu-list-item86" ui-sref="menu.programa" menu-close="">Programa do curso
                    <i class="icon ion-android-bookmark icon-accessory"></i>
                </ion-item>
                <ion-item id="menu-list-item20" ui-sref="menu.aula1" menu-close="" class="  submenu">1. O universo digital
                    <span class="item-note">04/08</span>
                </ion-item>
                <ion-item id="menu-list-item21" ui-sref="menu.aula2" menu-close="" class="  submenu">2. Redes e emergência
                    <span class="item-note">11/08</span>
                </ion-item>
                <ion-item id="menu-list-item22" ui-sref="menu.aula3" menu-close="" class="  submenu">3. Posmod e identidade
                    <span class="item-note">18/08</span>
                </ion-item>
                <ion-item id="menu-list-item23" ui-sref="menu.aula4" menu-close="" class="  submenu">4. Big Data
                    <span class="item-note">25/08</span>
                </ion-item>
                <ion-item id="menu-list-item24" ui-sref="menu.aula5" menu-close="" class="  submenu">5. Livre-arbítrio
                    <span class="item-note">01/09</span>
                </ion-item>
                <ion-item id="menu-list-item25" ui-sref="menu.aula6" menu-close="" class="  submenu">6. Educação
                    <span class="item-note">15/09</span>
                </ion-item>
                <ion-item id="menu-list-item26" ui-sref="menu.aula7" menu-close="" class="  submenu">7. Interfaces
                    <span class="item-note">22/09</span>
                </ion-item>
                <ion-item id="menu-list-item27" ui-sref="menu.aula8" menu-close="" class="  submenu">8. UX/UI
                    <span class="item-note">29/09</span>
                </ion-item>
                <ion-item id="menu-list-item28" ui-sref="menu.aula9" menu-close="" class="  submenu">9. Ciberativismo
                    <span class="item-note">06/10</span>
                </ion-item>
                <ion-item id="menu-list-item29" ui-sref="menu.aula10" menu-close="" class="  submenu">10. Inteligência Artificial
                    <span class="item-note">13/10</span>
                </ion-item>
                <ion-item id="menu-list-item30" ui-sref="menu.aula11" menu-close="" class="  submenu">11. VR/AR
                    <span class="item-note">20/10</span>
                </ion-item>
                <ion-item id="menu-list-item31" ui-sref="menu.aula12" menu-close="" class="  submenu">12. Tendências
                    <span class="item-note">27/10</span>
                </ion-item>
                <ion-item id="menu-list-item32" ui-sref="menu.aula13" menu-close="" class="  submenu">13. Hack e Code
                    <span class="item-note">03/11</span>
                </ion-item>
                <ion-item id="menu-list-item33" ui-sref="menu.aula14" menu-close="" class="  submenu">14. IoT e Smart
                    <span class="item-note">10/11</span>
                </ion-item>
                <ion-item id="menu-list-item34" ui-sref="menu.aula15" menu-close="" class="  submenu">15. Datacracia
                    <span class="item-note">17/11</span>
                </ion-item>
                <ion-item class="item-divider " id="menu-list-item-divider2">Referências</ion-item>
                <ion-item class="item-icon-right  submenu" id="menu-list-item36" ui-sref="menu.links" menu-close="">Links
                    <i class="icon ion-android-open icon-accessory"></i>
                </ion-item>
                <ion-item class="item-icon-right  submenu" id="menu-list-item45">Vídeos
                    <i class="icon ion-ios-film icon-accessory"></i>
                </ion-item>
                <ion-item class="item-icon-right  submenu" id="menu-list-item44" href="#" onclick="window.open('http://www.slideshare.net/ECALuli', '_system', 'location=yes'); return false;">Slideshare
                    <i class="icon ion-filing icon-accessory"></i>
                </ion-item>
                <ion-item class="item-divider " id="menu-list-item-divider4">Tarefas</ion-item>
                <ion-item class="item-icon-right  submenu" id="menu-list-item43" ui-sref="menu.tarefas" menu-close="">Tarefas por aula
                    <i class="icon ion-document-text icon-accessory"></i>
                </ion-item>
                <ion-item class="item-icon-right  submenu" id="menu-list-item37" ui-sref="menu.final" menu-close="">Trabalho final
                    <i class="icon ion-android-folder icon-accessory"></i>
                </ion-item>
                <ion-item class="item-icon-right  submenu" id="menu-list-item40" ui-sref="menu.pKN" menu-close="">Pecha-kucha
                    <i class="icon ion-android-contacts icon-accessory"></i>
                </ion-item>
                <ion-item class="item-divider " id="menu-list-item-divider3">ETC</ion-item>
                <ion-item class="item-icon-right  submenu" id="menu-list-item41" ui-sref="menu.local" menu-close="">Local das aulas
                    <i class="icon ion-android-map icon-accessory"></i>
                </ion-item>
                <ion-item class="item-icon-right  submenu" id="menu-list-item42" ui-sref="menu.contato" menu-close="">Contato
                    <i class="icon ion-android-textsms icon-accessory"></i>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>