<ion-view title=" " style="background-color:#99b898;" id="pkn" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="pKN-heading26" style="color:#000000;font-weight:lighter;text-align:center;" class=" ">Pecha Kucha Nights</h2>
        <p id="pKN-markdown28" style="color:#000000;" class=" ">Descrição
            <strong>markdown</strong>
        </p>
        <div>
            <iframe width="300" height="225" src="http://www.pechakucha.org/presentations/50aae2fef3b43b0a14016dc0/embed" frameborder="0"></iframe>
        </div>
    </ion-content>
</ion-view>