<ion-view id="preReqs" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="preReqs-heading8" style="color:#000000;font-weight:lighter;text-align:center;" class=" ">Pré-requisitos</h2>
        <div>
            <br>
        </div>
        <p id="preReqs-markdown9" style="color:#B90202;text-align:center;" class=" ">Esta disciplina é
            <strong>optativa</strong>, o que significa que sua matrícula é voluntária. Ela tem, no entanto, suas demandas, que devem ser seguidas:</p>
        <p id="preReqs-markdown10" style="color:#000000;font-size:18px;" class=" ">Primeiro as
            <strong>boas notícias</strong>:</p>
        <div>
            <ul>
                <li>Não é preciso saber
                    <b>nada</b>de código;</li>
                <li>Não é preciso conhecer as redes nem as últimas tendências;</li>
                <li>Não é preciso ter equipamento especial nem acessar a
                    <i>dark web</i>;</li>
                <li>Você participará de discussões importantes a respeito das mudanças provocadas pelas revoluções digitais;</li>
                <li>Você aprenderá a fazer um protótipo de aplicativo; e</li>
                <li>Você provavelmente ampliará sua perspectiva a respeito da rede.</li>
            </ul>
            <br>
        </div>
        <p id="preReqs-markdown11" style="color:#000000;font-size:18px;" class=" ">Agora as
            <strong>más notícias</strong>:</p>
        <div>
            <ul>
                <li>É
                    <b>ESSENCIAL</b>saber inglês. Boa parte do material está em inglês e não será traduzido;</li>
                <li>É
                    <b>FUNDAMENTAL</b>ler e consultar o material de apoio de cada aula, composto de vídeos e textos, o equivalente a umas quatro a seis horas de estudo;</li>
                <li>Cada aula terá sua tarefa, que normalmente consistirá em produzir um texto a respeito do tema, fundamentado e referenciado. Não é um relatório, mas uma reflexão;</li>
                <li>Para o final de curso você deverá desenvolver uma ideia, estudo de personas e protótipo, com o objetivo de melhorar o mundo (ou resolver um problema dele); e</li>
                <li>A tarefa final deverá ser desenvolvida na forma de um
                    <i>Pecha-Kucha</i>e apresentada em seis munutos no máximo.</li>
            </ul>
            <br>
        </div>
        <p id="preReqs-markdown12" style="color:#000000;text-align:center;" class=" ">Vai encarar?
            <strong>Seja bem-vindo.</strong>Mas depois não diga que eu não avisei.</p>
    </ion-content>
</ion-view>