<ion-view id="Programa" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="programa-heading9" style="color:#000000;font-weight:lighter;text-align:center;" class=" ">Programa do curso</h2>
        <ion-list id="programa-list7" class=" ">
            <ion-item id="programa-list-item70" ui-sref="menu.aula1" class="  ">1. O universo digital
                <span class="item-note">04/08</span>
            </ion-item>
            <ion-item id="programa-list-item71" ui-sref="menu.aula2" class="  ">2. Redes e emergência
                <span class="item-note">11/08</span>
            </ion-item>
            <ion-item id="programa-list-item72" ui-sref="menu.aula3" class="  ">3. Pós-modernismo e identidade digital
                <span class="item-note">18/08</span>
            </ion-item>
            <ion-item id="programa-list-item73" ui-sref="menu.aula4" class="  ">4. Big Data e mensuração
                <span class="item-note">25/08</span>
            </ion-item>
            <ion-item id="programa-list-item74" ui-sref="menu.aula5" class="  ">5. Livre-arbítrio
                <span class="item-note">01/09</span>
            </ion-item>
            <ion-item id="programa-list-item75" ui-sref="menu.aula6" class="  ">6. Educação e inclusão
                <span class="item-note">15/09</span>
            </ion-item>
            <ion-item id="programa-list-item76" ui-sref="menu.aula7" class="  ">7. Interfaces
                <span class="item-note">22/09</span>
            </ion-item>
            <ion-item id="programa-list-item77" ui-sref="menu.aula8" class="  ">8. Experiência do Usuário
                <span class="item-note">29/09</span>
            </ion-item>
            <ion-item id="programa-list-item78" ui-sref="menu.aula9" class="  ">9. Ciberativismo
                <span class="item-note">06/10</span>
            </ion-item>
            <ion-item id="programa-list-item79" ui-sref="menu.aula10" class="  ">10. Inteligência Artificial
                <span class="item-note">13/10</span>
            </ion-item>
            <ion-item id="programa-list-item80" ui-sref="menu.aula11" class="  ">11. Realidade Virtual e Aumentada
                <span class="item-note">20/10</span>
            </ion-item>
            <ion-item id="programa-list-item81" ui-sref="menu.aula12" class="  ">12. Tendências e Prototipação
                <span class="item-note">27/10</span>
            </ion-item>
            <ion-item id="programa-list-item82" ui-sref="menu.aula13" class="  ">13. Hacking, Código e Fabricação Digital
                <span class="item-note">03/11</span>
            </ion-item>
            <ion-item id="programa-list-item83" ui-sref="menu.aula14" class="  ">14. Internet das Coisas e Cidades Inteligentes
                <span class="item-note">10/11</span>
            </ion-item>
            <ion-item id="programa-list-item84" ui-sref="menu.aula15" class="  ">15. Datasfera e Datacracia
                <span class="item-note">17/11</span>
            </ion-item>
            <ion-item id="programa-list-item85" ui-sref="menu.pKN" class="  ">16. Pecha-kucha nights
                <span class="item-note">24/11 e 01/12</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>